@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Kaushan+Script&family=Oswald&display=swap');

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh ;
    background-color: white;
}
h1{
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    margin-top: 5%;
  }
  nav {
    z-index: 10;
    position: fixed;
    font-family: 'Comfortaa', 'sans-serif';
    font-size: 30px;
    letter-spacing: 2px;
    padding: 25px;
    width: 100vw;
    background: rgb(255 255 255 / 50%);
  }

  
  a {
    margin-right: 65px;
    margin-left: 60px;
    color: #ff9a9a;;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    font-weight: bold;
  }
  a:hover,
  a:focus {
    color: #ee6b6b;
    border-bottom: 3px solid;
  }
  .container {
    display: flex;
    justify-content: space-between;
    margin-right: 40px;
}
.row{
    max-width: 100%;
    width: 100%;
    margin: 0 auto ;
    display: flex;
  }
.column{
    margin: 6.5% 2.5% 10% 2.5%;
    box-shadow: 0 10px 15px rgba(0,0,0,0.8);
    background: #c5e5ff;
    border-radius: 40px;
    flex-basis: 50%;
    height: 810px;
  }
  .card{
    padding: 10px 10px;
  }
 /* #n2{
    background-color: #ffd9d9;
    color: black;
  } */