/* @import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Kaushan+Script&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Kaushan+Script&family=Oswald&display=swap');

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh ;
    background-color: white;
}
h1{
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    margin-top: 5%;
  }
  nav {
    z-index: 10;
    position: fixed;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    letter-spacing: 1px;
    padding: 25px;
    width: 100vw;
    background: #4e4e4e;
    background: #ffcccc;
  }

  
  a {
    margin-right: 65px;
    margin-left: 60px;
    /* color: #cfc1ff; */
    /* color: #ffcccc; */
    /* color: #666666;
    text-decoration: none;
    border-bottom: 0px solid transparent;
    font-weight: 400;
  }
  a:hover,
  a:focus {
    color: #a59b9b;
    border-bottom: 0px solid;
  }
  .container {
    display: flex;
    justify-content: space-between;
    margin-right: 40px;
} */
/* .row{
    max-width: 100%;
    width: 100%; */
    /* margin: 0 ; */
    /* display: flex; */
    /* float: left; */
    /* height: 100vh;
  }
.column{
    margin: 3.8% 0% 0% 0%; */
    /* box-shadow: 0 10px 15px rgba(0,0,0,0.8); */
    /* background: #d8ccff; */
    /* background: #ffcccc; */
    /* background: #6d6d6d; */
    /* border-radius: 10px; */
    /* flex-basis: 50%; */
    /* height: 57.8em; */

  /* }
  .card{
    padding: 10px 10px;
    height: 90vh;
  }
.column.side{
  background: white;
  color: black;
  width: 60%; */
  /* height: 100vh; */
/* }
.column.first{
  color: #ffffff;
    width: 40%;

}
.dfa1{ */
  /* margin-left: 10%;
  margin-right: 9%;
  margin-top: 10vh; */
  /* margin-bottom: 10%; */
  /* margin: 10vh 10vh 0vh 10vh;
  height: 70vh;
  display: flex;
    background: rgb(255, 255, 255); */
    /* flex-direction: column; */
    /* align-items: left;
    overflow-y: scroll; */
    /* vertical-align: text-top; */
    /* border-radius: 40px; */
    /* box-shadow: 0 10px 30px 10px rgba(0,0,0, 0.4); */
    /* border: 10px solid #ffcccc;
  }
    .form-group{
      height: 100px;
      
  }
  label{
      position: relative;
      font-size: 30px;
      /* width: 100; */
      /* text-align: center;
      margin: 20% 5% 0% 5%;
      margin-top: auto;
      margin-left: 18%;
      font-family: 'Open Sans', sans-serif;
      color: #6d6d6d; */ */
      /* color: #ffcccc; */
/* }
input{
  height: 45px;
  padding: 5px 5px;
  border: 3px solid #ffcccc; */
  /* border: 3px solid #6d6d6d; */
  /* border-radius: 5px;
  outline: none;
  box-sizing: border-box;
  margin-left: 15%;
  color: #a59b9b;
  font-size: 30px;
  width: 73%;
  font-family: 'Open Sans', sans-serif;
}
.shift{
  margin-top: 20%;
}
.bored{
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 5%;
  margin-right: 5%;
  /* border: 3px solid #ffcccc; */
  /* height: 80vh; */
  /* border-radius: 30px; */
    /* border: 3px solid #6d6d6d; */

 /* } */

 @import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Kaushan+Script&family=Oswald&display=swap");

 html{
     box-sizing: border-box;
 }
 body{
     background-color: white;
     height: 100vh;
     margin: 0% 0% 0% 0%;
     overflow: hidden;
 }
 nav{
     position: fixed;
     font-family: "Open Sans", sans-serif;
     font-size: 1.7rem;
     letter-spacing: 1px;
     padding: 3vh;
     width: 100vw;
     background: #ffcccc;
     top: 0%;
 }
 a {
     margin-right: 3em;
     color: #6d6d6d;
     text-decoration: none;
     border-bottom: 0px solid transparent;
     font-weight: 300;
   }
   a:hover,
   a:focus {
     color: #a59b9b;
     border-bottom: 0% solid transparent;
   }
 .container {
     display: flex;
     justify-content: space-between;
 }
 H1 {
     color: white;
     text-transform: uppercase;
     text-align: center;
     font-family: "Montserrat", sans-serif;
     letter-spacing: 1px;
     margin-top: 15%;
     margin-bottom: auto;
   }
 .row {
     display: flex;
     flex-wrap: wrap;
     flex-direction: row;
     height: 100vh;
 }
 .column1{
     background: #6d6d6d;
     width: 40%;
 height: 100vh;
 }
 .column2{
     background: white;
     width: 60%;
     /* height: 100vh; */
 }
 .box1{
     display: flex;
     padding-top: 5px;
     padding-bottom: 5px;
     justify-content: space-between;
     border: 8px solid #ffcccc;
     margin: 5% 10% 0% 10%;
     background: white;
     height: max-content;
     max-width: 80%;
     max-height: 70vh;
     overflow-y: scroll;
     flex-direction: column;
 }
 .box2{
     margin: 7em 1.2em 1.2em 1.2em;
     border: 3px solid #6d6d6d;
     height: 80%;
     overflow: hidden;
 }
 label {
     font-size: 30px;
     text-align: start;
     margin: 20% 5% 0% 5%;
     margin-top: auto;
     margin-left: 8vh;
     font-family: "Open Sans", sans-serif;
     color: #ffa8a8;
   }
   input {
     height: 2em;
     padding: 5px 5px;
     border: 3px solid #6d6d6d;
     border-radius: 5px;
     outline: none;
     box-sizing: border-box;
     margin-left: 8vh;
     font-size: 30px;
     font-family: "Open Sans", sans-serif;
   }
   .shift {
     margin-top: 10%;
     height: 100vh;
     margin-left: 8vh;
   }
   .svgbutton {
     border: 0px solid transparent;
     background: transparent;
     width: 20%;
     margin-left: 7%;
   }
   .svgbutton:active {
     transform: translate(0, 0.3rem);
   }
   
   .svgbutton:focus {
     outline: none;
   }
   
   .input-Row {
     display: flex;
     flex-direction: row;
     align-items: flex-end;
   }
   .button-column {
     display: flex;
     flex-direction: column;
     justify-items: flex-end;
     margin-left: 0px;
   }
   .form-group{
     margin-right: 10%;
     max-width: 70%;
   }
   .api_n{
     border: 0px solid transparent;
     box-shadow: none;
     border-radius: 1em;
   }
   .api_n:hover {
 filter: brightness(90%);
 border: 0px solid transparent;
 /* color: rgb(255, 255, 255); */
 box-shadow: none;
   }
   .api_n:active {
     transform: translate(0, 0.3rem);
   }
   
   .api_n:focus {
     outline: none;
   }
   .form-group1{
     margin-right: 10%;
     max-width: 70%;
   }