@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Kaushan+Script&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Kaushan+Script&family=Oswald&display=swap');

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh ;
    background-color: white;
}
h1{
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    margin-top: 5%;
  }
  nav {
    z-index: 10;
    position: fixed;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    letter-spacing: 1px;
    padding: 25px;
    width: 100vw;
    /* background: #4e4e4e; */
    background: #ffcccc;
  }

  
  a {
    margin-right: 65px;
    margin-left: 60px;
    /* color: #cfc1ff; */
    /* color: #ffcccc; */
    color: #666666;
    text-decoration: none;
    border-bottom: 0px solid transparent;
    font-weight: 400;
  }
  a:hover,
  a:focus {
    color: #a59b9b;
    border-bottom: 0px solid;
  }
  .container {
    display: flex;
    justify-content: space-between;
    margin-right: 40px;
}
.row{
    max-width: 100%;
    width: 100%;
    /* margin: 0 ; */
    display: flex;
    float: left;
  }
.column{
    margin: 3.8% 0% 0% 0%;
    /* box-shadow: 0 10px 15px rgba(0,0,0,0.8); */
    /* background: #d8ccff; */
    /* background: #ffcccc; */
    background: #6d6d6d;
    /* border-radius: 10px; */
    /* flex-basis: 50%; */
    height: 57.8em;

  }
  .card{
    padding: 10px 10px;
  }
.column.side{
  background: white;
  color: black;
  width: 60%;
}
.column.first{
  color: #ffffff;
    width: 40%;

}
.dfa1{
  margin-left: 10%;
  margin-right: 9%;
  margin-top: 6.2%;
  height: 48.3em;
  display: flex;
    background: rgb(255, 255, 255);
    /* flex-direction: column; */
    align-items: left;
    overflow-y: scroll;
    /* vertical-align: text-top; */
    /* border-radius: 40px; */
    /* box-shadow: 0 10px 30px 10px rgba(0,0,0, 0.4); */
    border: 10px solid #ffcccc;
  }
    .form-group{
      height: 100px;
      
  }
  label{
      position: relative;
      font-size: 30px;
      /* width: 100; */
      text-align: center;
      margin: 20% 5% 0% 5%;
      margin-top: auto;
      margin-left: 18%;
      font-family: 'Open Sans', sans-serif;
      color: #6d6d6d;
      /* color: #ffcccc; */
}
input{
  height: 45px;
  padding: 5px 5px;
  border: 3px solid #ffcccc;
  /* border: 3px solid #6d6d6d; */
  border-radius: 5px;
  outline: none;
  box-sizing: border-box;
  margin-left: 15%;
  color: #a59b9b;
  font-size: 30px;
  width: 73%;
  font-family: 'Open Sans', sans-serif;
}
.shift{
  margin-top: 20%;
}
.bored{
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 5%;
  margin-right: 5%;
  /* border: 3px solid #ffcccc; */
  height: 48.3em;
  /* border-radius: 30px; */
    border: 3px solid #6d6d6d;

}