@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Kaushan+Script&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Kaushan+Script&family=Oswald&display=swap');

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh ;
    background-color: white;
}
h1{
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    margin-top: 5%;
  }
  nav {
    z-index: 10;
    position: fixed;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    letter-spacing: 1px;
    padding: 25px;
    width: 100vw;
    background: #4e4e4e;
  }

  
  a {
    margin-right: 65px;
    margin-left: 60px;
    /* color: #cfc1ff; */
    color: #ffcccc;
    text-decoration: none;
    border-bottom: 0px solid transparent;
    font-weight: 200;
  }
  a:hover,
  a:focus {
    color: #a59b9b;
    border-bottom: 0px solid;
  }
  .container {
    display: flex;
    justify-content: space-between;
    margin-right: 40px;
}
.row{
    max-width: 100%;
    width: 100%;
    /* margin: 0 ; */
    display: flex;
    float: left;
  }
.column{
    margin: 3.8% 0% 0% 0%;
    /* box-shadow: 0 10px 15px rgba(0,0,0,0.8); */
    /* background: #d8ccff; */
    background: #ffcccc;
    
    /* border-radius: 10px; */
    /* flex-basis: 50%; */
    height: 57.8em;

  }
  .card{
    padding: 10px 10px;
  }
.column.side{
  background: white;
  color: black;
  width: 70%;
}
.column.first{
    width: 30%;

}