@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Kaushan+Script&family=Oswald&display=swap");

html {
  box-sizing: border-box;
}

body {
  margin: 0px 0px 0px 0px;
  /* min-height: 90vh ; */
  background-color: white;
}
h1 {
  color: #727272;
  text-transform: uppercase;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  margin-top: 15%;
  margin-bottom: auto;
}
p {
  font-size: 1.5em;
  line-height: 40px;
  /* color: #727272; */
  color: #d18889;
  font-family: "Comfortaa", "sans-serif";
  text-align: justify;
  margin: 5% 8% 5% 8%;
}

nav {
  z-index: 9;
  position: fixed;
  font-family: "Open Sans", sans-serif;
  font-size: 1.3rem;
  letter-spacing: 1px;
  padding: 22px;
  width: 100%;
  background: #727272;
}
.new {
  margin-left: 50px;
}
.new1 {
  margin-right: 3.5%;
}

a {
  margin-right: 20px;
  color: #ffcccc;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  font-weight: 200;
  letter-spacing: 1px;
}
a:hover,
a:focus {
  color: #cacaca;
  border-bottom: 2px solid transparent;
}
.container {
  display: flex;
  justify-content: space-between;
}
.row {
  display: flex;
  height: auto;
}
.column {
  background: #ffcccc;
  height: 100vh;
  width: 50%;
  flex-direction: column;
  display: flex;
  height: 100vh;
}
.columnside {
  box-shadow: none;
  background: white;
  width: 50%;
  
}
.card {
  padding: 10px 10px;
}
/* .button1 {
    margin-bottom: 10%;
  }
  
  button {
    height: 50px;
    cursor: pointer;
    border-radius: 10px;
    border: 6px solid black;
    font-size: 30px;
    outline: none;
  }
    */
.button1 {
  cursor: pointer;
  color: #6e6e6e;
  background-color: rgb(255, 245, 245);
  border: 0px solid #3a3a3a;
  border-radius: 15px;
  height: 2em;
  width: 20%;
  justify-content: center;
  font-family: "Open sans", sans-serif;
  font-size: 30px;
  letter-spacing: 2px;
}
.button1:hover {
  background: #4e4e4e;
  color: #ffffff;
}

.buttonrow1 {
  display: flex;
  justify-content: flex-start;
  margin-top: 2em;
  margin-left: 2em;
}
.button2 {
  cursor: pointer;
  border: 0px solid #3a3a3a;
  background: #ffcccc;
  color: white;
  border-radius: 15px;
  height: 2em;
  width: 20%;
  justify-content: center;
  font-family: "Open sans", sans-serif;
  font-size: 30px;
  letter-spacing: 2px;
}
.button2:hover {
  color: #ffcccc;
  background-color: #646262;
}

.buttonrow2 {
  width: inherit;
  display: flex;
  justify-content: flex-end;
  margin-top: 2em;
  margin-right: 2em;
 /* border: 2px dotted blue;*/
}
.faa {
  margin: 4% 5% 0px 5%;
  background-color: white;
  width: 90%;
  height: fit-content;
  overflow-y: scroll;
}
.faa1 {
  margin: 4% 5%;
  background-color: #ffcccc;
  width: 90%;
  height: fit-content;
  overflow-y: scroll;
}
