@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

html {
    scroll-behavior: smooth;
}

::selection {
    background-color: #fcaeae;
}

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: transparent;
    border: transparent;
}

*::-webkit-scrollbar-thumb {
    background: #333333;
    border: 20px solid transparent;
    border-top: none;
    border-bottom: none;
    background-clip: content-box;   
}

#window1 {
    font-family: 'Poppins';
    width: 100%;
    height: calc(100% + 10px);
}

#landing {
    margin: 0px;    
    padding-top: 20%;
    padding-left: 10%;
}

#title {
    font-size: 80px;
    display: block;
    font-weight: 500;
    color: #262626;
}

#subtitle {
    font-size: 40px;
    font-weight: 300;
    display: block;
    color: #333333;
}

.lander {
    margin-top: 10px;
    margin-right: 10px;
    width: 150px;
    height: 50px;
    border: 2px solid #333333;
    border-radius: 0px;
    background-color: #fcaeae;
    font-family: "Poppins";
    font-size: 17.5px;
    outline: none;
}

.lander:hover {
    background-color: whitesmoke;
    border: 2px solid #333333;
    border-radius: 0px;
    box-shadow: 0px 0px 7.5px 2.5px whitesmoke;
}

.lander:active {
    background-color: whitesmoke;
    border: 2px solid #333333;
    border-radius: 0px;
    outline: none;
    box-shadow: none;
}

#window2 {
    font-family: 'Poppins';
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    border: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.card {
    padding: 15px;
    width: 450px;
    height: 600px;
    border: 2px solid #333333;
    box-shadow: 10px 10px 1px 0px rgba(51,51,51,1);
    font-size: 25px;
}

.redirect {
    margin-top: 150px;
    width: 150px;
    height: 50px;
    border: 2px solid #333333;
    border-radius: 0px;
    background-color: whitesmoke;
    font-family: "Poppins";
    font-size: 17.5px;
    outline: none;
}

.redirect:hover {
    background-color: #fcaeae;
    border: 2px solid #333333;
    border-radius: 0px;
    box-shadow: 0px 0px 7.5px 2.5px rgba(252,174,174,1);
}

.redirect:active {
    background-color: #fcaeae;
    border: 2px solid #333333;
    border-radius: 0px;
    outline: none;
    box-shadow: none;
}

@media only screen and (max-width: 1100px) {
    #window2 {
        flex-direction: column;
        height: 200%;
    }
}

@media only screen and (max-width: 600px) {
    #landing {
        padding-top: 65%;
    }

    #window2 {
        flex-direction: column;
        height: 200%;
    }

    .card {
        width: 350px;
    }

    #title {
        font-size: 60px;
    }

    #subtitle {
        font-size: 30px;
    }

    .redirect {
        margin-top: 50px;
    }
}