<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='know_more.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='assets/favicon-16x16.png') }}" type="image/png" sizes="16x16">    
    <title>sand.know-more</title>
</head>
<body>
    <div id="window2" style="background-color: #fcaeae;">
        <div class="card" style="background-color: whitesmoke; ">
            <div class="outerbox" style="margin: 3% 3% 3% 3%;">
                <div id="innerbox1">
                    <span id="subtitle"><b>About sand.</b></span>
                    <u>S</u>imulation <u>A</u>pp for <u>N</u>FA and <u>D</u>FA is an Open-source web application 
                    that allows a user to build the transition table for any DFA or NFA Automaton and check if a 
                    given string is accepted or rejected by that model. It was built as a project for Formal Language
                    and Automata.
                </div>
                <p>The technologies used:</p>
                <div class="innerbox2" style="max-width: 100%;margin: 0px 10% 10% 10%;">
                    <div class="row1" style=" display: flex;">
                        <div class="col1" style="width: 50%;">
                            <a href="https://flask.palletsprojects.com/en/1.1.x/">
                                <button class="redirect">
                                    Flask
                                </button>
                            </a>
                        </div>
                        <div class="col2" style="width: 50%;">
                            <a href="https://docs.python.org/3/tutorial/index.html">
                                <button class="redirect">
                                    Python
                                </button></a>
                        </div>
                    </div>
                    <div class="row2" style=" max-height:20%; display: flex; margin-top: 5%;">
                        <div class="col3" style="width: 50%;">
                            <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript">
                                <button class="redirect">
                                    JavaScript
                                </button></a>
                        </div>
                        <div class="col4" style="width: 50%;">
                            <a href="https://www.w3schools.com/">
                                <button class="redirect">
                                    HTML & CSS
                                </button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" style="background-color: whitesmoke; ">
            <div class="outerbox" style="margin: 3% 3% 3% 3%;">
                <div id="innerbox1">
                    <span id="subtitle"><b>About us.</b></span><br>
                </div>
                <div id="aboutus">
                    <div class="arow">
                        <div class="nameplate">Himanshu Beriwal</div>
                        <a href=" https://github.com/hberiwal" class="href">
                            <button class="all-button" id="git" title='Post this'>
                                <i class="fab fa-github"></i>
                            </button>
                        </a>
                        <a href="https://www.linkedin.com/in/himanshu-beriwal-188a7616a" class="href">
                            <button class="all-button" id="link" title='Post this'>
                                <i class="fab fa-linkedin"></i>
                            </button>
                        </a>
                        <a href="https://www.instagram.com/hberiwal3/" class="href">
                            <button class="all-button" id="instagram" title='Post this'>
                                <i class="fab fa-instagram"></i>
                            </button>
                        </a>
                        <a href="mailto:hb8235@srmist.edu.in" class="href">
                            <button class="all-button" id="mail" title='Post this'>
                                <i class="fa fa-envelope"></i>
                            </button>
                        </a>
                    </div>
                    <div class="arow">
                        <div class="nameplate">Rushil Rai</div>
                        <a href="https://github.com/rushilrai" class="href">
                            <button class="all-button" id="git" title='Post this'>
                                <i class="fab fa-github"></i>
                            </button>
                        </a>
                        <a href="https://www.linkedin.com/in/rushil-rai-07363116a/" class="href">
                            <button class="all-button" id="link" title='Post this'>
                                <i class="fab fa-linkedin"></i>
                            </button>
                        </a>
                        <a href="https://www.instagram.com/rushilrai/" class="href">
                            <button class="all-button" id="instagram" title='Post this'>
                                <i class="fab fa-instagram"></i>
                            </button>
                        </a>
                        <a href="mailto:rr6926@srmist.edu.in" class="href">
                            <button class="all-button" id="mail" title='Post this'>
                                <i class="fa fa-envelope"></i>
                            </button>
                        </a>
                    </div>
                    <div class="arow">
                        <div class="nameplate">Rabhya Sighat</div>
                        <a href="https://github.com/rabhyasighat" class="href">
                            <button class="all-button" id="git" title='Post this'>
                                <i class="fab fa-github"></i>
                            </button>
                        </a>
                        <a href="https://www.linkedin.com/in/rabhya-sharabjit-sighat/" class="href">
                            <button class="all-button" id="link" title='Post this'>
                                <i class="fab fa-linkedin"></i>
                            </button>
                        </a>
                        <a href="https://www.instagram.com/__rabhya__/" class="href">
                            <button class="all-button" id="instagram" title='Post this'>
                                <i class="fab fa-instagram"></i>
                            </button>
                        </a>
                        <a href="mailto:rs5147@srmist.edu.in" class="href">
                            <button class="all-button" id="mail" title='Post this'>
                                <i class="fa fa-envelope"></i>
                            </button>
                        </a>
                    </div>
                    <div class="arow">
                        <div class="nameplate">Ajanya Joshie</div>
                        <a href="https://github.com/ajoshie" class="href">
                            <button class="all-button" id="git" title='Post this'>
                                <i class="fab fa-github"></i>
                            </button>
                        </a>
                        <a href="https://www.linkedin.com/in/ajanya-joshie-b76a5a16a/" class="href"></a>
                            <button class="all-button" id="link" title='Post this'>
                                <i class="fab fa-linkedin"></i>
                            </button>
                        </a>
                        <a href="https://www.instagram.com/_ajanya_/" class="href">
                            <button class="all-button" id="instagram" title='Post this'>
                                <i class="fab fa-instagram"></i>
                            </button>
                        </a>
                        <a href="mailto:aj4056@srmist.edu.in" class="href">
                            <button class="all-button" id="mail" title='Post this'>
                                <i class="fa fa-envelope"></i>
                            </button>
                        </a>
                    </div>
                    <div class="arow">
                        <div class="nameplate">Mihir Singh</div>
                        <a href="https://github.com/mihirs16" class="href">
                            <button class="all-button" id="git" title='Post this'>
                                <i class="fab fa-github"></i>
                            </button>
                        </a>
                        <a href=" https://www.linkedin.com/in/mihir-singh-456a5916a/" class="href">
                            <button class="all-button" id="link" title='Post this'>
                                <i class="fab fa-linkedin"></i>
                            </button>
                        </a>
                        <a href="https://www.instagram.com/_mihir.singh/" class="href">
                            <button class="all-button" id="instagram" title='Post this'>
                                <i class="fab fa-instagram"></i>
                            </button>
                        </a>
                        <a href="mailto:mihirs16@gmail.com " class="href">
                            <button class="all-button" id="mail" title='Post this'>
                                <i class="fa fa-envelope"></i>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
